---
layout: default
title: House portraits
banner-image: /images/elyse/backgrounds-lavender-wreath.png
home-gallery:
  - featured_image: /uploads/il-680x540-3027489625-ogye.jpg
  - featured_image: /uploads/4c80677bfed38e105ad8dde815c1ef88-1.jpg
  - featured_image: /uploads/il-680x540-2383968990-ju75.jpg
  - featured_image: /uploads/il-680x540-2199630055-6072.jpg
  - featured_image: /uploads/il-680x540-1777587322-f0zr.jpg
  - featured_image: /images/home-portraits/home-99.png
  - featured_image: /uploads/il-680x540-2552013814-115t.jpg
  - featured_image: /images/home-portraits/home-96.png
  - featured_image: /uploads/il-680x540-1828351953-fftf.jpg
  - featured_image: /uploads/il-680x540-2496332297-jbhk.jpg
  - featured_image: /uploads/il-680x540-2496765798-iqsr.jpg
  - featured_image: /uploads/0-1.jpeg
  - featured_image: /uploads/il-680x540-2318289094-5qev.jpg
  - featured_image: /uploads/93a6e8ee-7991-40b5-8093-aefeee1dc960-3-optimized.jpg
  - featured_image: /uploads/il-680x540-2935427820-c5ux.jpg
newborn-gallery:
  - featured_image: /images/newborn-backgrounds/newborn-47.jpg
    heading: 'Image: ©ali-oop photography / www.alioopphotography.com'
  - featured_image: /images/newborn-backgrounds/newborn-45.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-48.jpg
    heading: 'Image: ©Elise Gow Photography / www.elisegowphotography.com/'
  - featured_image: /images/newborn-backgrounds/newborn-46.jpg
    heading: 'Image: ©Jamie Lee Photography / www.jlphotographyau.com'
  - featured_image: /uploads/img-5939.jpeg
    heading: Little pilot
  - featured_image: /images/newborn-backgrounds/newborn-33.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /uploads/img-1957-2.JPG
    heading: Little whales
  - featured_image: /images/newborn-backgrounds/newborn-32.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-43.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-34.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-35.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-42.jpg
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /uploads/img-1854.jpg
    heading:
  - featured_image: /images/newborn-backgrounds/newborn-1.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-15.png
    heading: Image ©Luisa Dunn Photography / www.luisadunnphotography.com.au
  - featured_image: /images/newborn-backgrounds/newborn-14.png
    heading: Image ©Alma's Home Studio / www.almashomestudio.co.uk
  - featured_image: /images/newborn-backgrounds/newborn-27.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-11.png
    heading: Image ©Luisa Dunn Photography / www.luisadunnphotography.com.au
  - featured_image: /images/newborn-backgrounds/newborn-16.png
    heading: 'Image: ©Cris Passos Photography / www.crispassos.com'
  - featured_image: /images/newborn-backgrounds/newborn-8.png
    heading: >-
      Image ©It's Sunny in Seattle / Signature Painted with Sunshine /
      www.itssunnyinseattle.com
  - featured_image: /images/newborn-backgrounds/newborn-5.png
    heading: Image ©Luisa Dunn Photography / www.luisadunnphotography.com.au
  - featured_image: /images/newborn-backgrounds/newborn-7.png
    heading: Image ©Alma's Home Studio / www.almashomestudio.co.uk
  - featured_image: /images/newborn-backgrounds/newborn-18.png
    heading: Image ©Alma's Home Studio / www.almashomestudio.co.uk
  - featured_image: /images/newborn-backgrounds/newborn-21.png
    heading: 'Image: ©Hello Baby / www.hellobaby.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-24.png
    heading: 'Image: ©Hello Baby / www.hellobaby.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-25.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-26.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-31.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /images/newborn-backgrounds/newborn-29.png
    heading: 'Image: ©Luisa Dunn Photography / www.luisadunnphotography.com.au'
  - featured_image: /uploads/img-0102.jpeg
    heading: Image ©Alma's Home Studio / www.almashomestudio
  - featured_image: /uploads/img-0140.jpeg
    heading: Image ©Alma's Home Studio / www.almashomes
  - featured_image: /uploads/img-0142.jpeg
    heading: Image ©Alma's Home Studio / www.almashomestudio
  - featured_image: /uploads/img-9867.jpeg
    heading: Butterflies
  - featured_image: /uploads/img-0139.jpeg
    heading: Image ©Alma's Home Studio / www.almashomes
  - featured_image: /uploads/img-9913.jpeg
    heading: Image ©Alma's Home Studio / www.almashomestudio
  - featured_image: /uploads/0-4.jpeg
    heading: Image ©Alma's Home Studio / www.almashomestudio
  - featured_image: /uploads/img-4713.jpeg
    heading: Purple Butterfly
  - featured_image: /uploads/img-1673.JPG
    heading: Image ©Alma's Home Studio / www.almashomestudio
  - featured_image: /uploads/0-5.jpeg
    heading: Available at Gracelanddesign.com
children-gallery:
  - featured_image: /images/children/children-red-dress-cover.jpg
    heading: The Magic Red Dress
  - featured_image: /images/children/children-red-dress-4.jpg
    heading: The Magic Red Dress
  - featured_image: /images/children/children-bird-cover.jpg
    heading: 'I Love You, Little Bird'
  - featured_image: /images/children/children-bird-2.jpg
    heading: 'I Love You, Little Bird'
  - featured_image: /images/children/children-summer-cover.jpg
    heading: Summer Saltz book series
  - featured_image: /images/children/children-summer-9.jpg
    heading: Summer Saltz (collage)
  - featured_image: /images/children/children-summer-3.jpg
    heading: Summer Saltz (collage)
  - featured_image: /uploads/cover.jpg
    heading:
  - featured_image: /images/children/children-theo-1.jpg
    heading: Theodore and Hazel and the Bird
  - featured_image: /images/children/children-theo-2.jpg
    heading: Theodore and Hazel and the Bird
  - featured_image: /images/children/children-nurse-cover.jpg
    heading: 'Nurse Diddy: The Chicken Pox Party'
  - featured_image: /images/children/children-nurse-5.jpg
    heading: 'Nurse Diddy: The Chicken Pox Party'
  - featured_image:
    heading:
quotes:
  - name: Morgan Brahms
    date: 2021-05-02 00:00:00
    review: >-
      Elyse does an incredible job with these water colors! My real estate team
      has now used her for several closing gifts and our clients have been
      thrilled to received these water colors of their home. Elyse is also
      really quick to reply and make sure you like the product before she sends
      it to you. I highly recommend trying her out.. you won't be disappointed!
      I know we'll be ordering more of these very soon
  - name: Nick Loveless Seattle realtor
    date: 2020-09-23 00:00:00
    review: >-
      I have ordered numerous home paintings from Elyse with Artistic Home
      Portrait and they have all come out fantastic! They make great
      housewarming gifts for new home buyers and the feedback I have received
      from the recipients has been incredible. I would not consider using anyone
      else for a high quality home portrait!
  - name: Karen Heathwood
    date: 2021-05-26 00:00:00
    review: >-
      Beautiful painting! Love it! It's perfect and so was my experience with
      this shop. Great communication, professional, efficient.....all the
      gushing! Not to mention the lovely packaging. Elyse is a special talent
      hand painting personal fine art of the highest quality with skill and
      heart. Just excellent. Thank you.
  - name: Dee
    date: 2021-03-03 00:00:00
    review: >-
      Elyse was so wonderful to work with. Please don’t hesitate to make a
      purchase from her. She is extremely professional, very detail oriented and
      made sure that I was happy with her drawing before going any further. I’m
      so happy with the watercolor she did of our future nursery. Thank you!
      I’ll be purchasing again soon!
  - name: Pam Johnson
    date: 2019-07-01 00:00:00
    review: >-
      Very responsive and fast! The end result was just what I was looking for
      as a gift for a friend who had just remodeled a Historical Landmark as
      their home. The turn around was much faster than I thought and it came out
      beautifully.
  - name: Sheryl Silverman
    date: 2019-06-01 00:00:00
    review: >-
      AMAZING! The painting is beautiful. In addition to being an extremely
      talented artist, Elyse also provided such a great experience. The portrait
      was a gift for my husband and he absolutely loved it! Elyse was great with
      the details, super quick, and very responsive. I highly recommend!
  - name: alishaingraham
    date: 2019-07-01 00:00:00
    review: >-
      I’ve purchased 3 watercolor paintings from Elyse for my clients and they
      have all been just gorgeous. They are the perfect gift!
  - name: Leslie Hudson
    date: 2019-03-01 00:00:00
    review: >-
      Elyse brought my vision to life. Looking at the finished product warms my
      heart. I treasure it. Thank you, Elyse!
---

<!--  Scroll To Top Button  -->
<style>
  #btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7f941d;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9;
}

#btnScrollToTop:active {
  background: #dca625;
}

</style>

<button id=btnScrollToTop>
<i class="material-icons">arrow_upward</i>
</button>

<script>
  const btnScrollToTop = document.querySelector ("#btnScrollToTop");

  btnScrollToTop.addEventListener ("click", function () {

  $("html,body").animate( {scrollTop: 0}, "slow");
});

</script>

<!-- END Scroll To Top Button -->

<!-- - - - - - - - HEADER - - - - - - - --->
<header class="bg-pattern grid-middle-center" style="background-image: url('{{page.banner-image}}');">
  <div class="header-text">
    <h1>Elyse Whittaker-Paek</h1>
    <h2>artist + illustrator</h2>
  </div>

  <div class="arrow-button">
      <a href="#about">
      <i class="fas fa-angle-double-down"></i></a>
  </div>

</header>
<!-- - - - - - - - - - -ABOUT - - - - - - - - - - -->
<section id="about">
  {% include header-nav.html %}
  <!-- <h2>artist + illustrator</h2> -->
  <div>
    <!-- <hr class="rule col-12_sm-hidden"> -->
  </div>


  <div class="grid-centered padded centered">

    <!-- about image gallery left -->
    <!-- <div class="col-3_sm-hidden flex-spacer">
      <div class="bg-circle-1"></div>
      <div class="bg-circle-2"></div>
      <div class="bg-circle-3"></div>
    </div> -->

    <!-- about section -->
    <div class="col-8_sm-12 editable">
      <div class="bg-Elyse" style="border: 4px solid #7f941d">&nbsp;</div><!-- <p class="opening centered"> -->
      <p class="bio-text-opening">Thank you so much for stopping by!</p>
      <p class="bio-text">I invite you to browse through this site to see examples of custom, hand-painted watercolor portraits of homes, along with digital backgrounds for newborn photography and children's book illustrations &mdash; I would love to discuss your personalized watercolor home portrait or surface pattern design or illustration project you might have in mind.&nbsp;</p>
      <p class="bio-text">With a BFA in Illustration, my professional experience includes character design, prop design, and storyboards, working for more than 10 years in the animation industry in Los Angeles, where I collaborated with creative teams at the Warner Bros. and Nickelodeon studios. My credits include the feature film <i>Space Jam</i> and Nickelodeon TV shows such as "Dora the Explorer," "Hey Arnold," and "Oswald the Octopus."</p>
      <p class="bio-text">I'm looking forward to meeting you and discussing your ideas and projects, I'm open to licensing and illustration for Surface pattern design.</p>
      <p class="bio-text">A native of Sydney, Australia, I currently reside in sunny Pasadena California, with my husband and two crazy-sweet boys.</p>
      <p class="bio-text">&nbsp;Let's connect-<a href="#connect">&nbsp;Contact me.</a></p>
      <p><br /><!-- <p class="signature"> -->
      </p>
      <p class="bio-text-signature">-Elyse</p>
      <p>&nbsp;</p>
    </div><!-- close col -->

</div></section><!-- close about section -->



<!-- - - - - - - - - - - - PORTRAITS - - - - - - - - - - - - - - - --->
<section class="bg-portraits grid-middle-center" id="portraits">

  <div class="portrait-text">
    <h2>Watercolor Portraits</h2>

    <nav class="section-text">
      <a href="#homes">Homes</a>
    </nav>

  </div>

</section>
<!-- - - - - - - - - Section: HOME PORTRAITS GALLERY - - - - - - - - - --->
<section class="home-gallery" id="homes">

  <h3 class="col-12 section-heading">Homes</h3>
  <p class="col-12 gallery-text"><i>Click on any image to open the gallery . . .</i></p>

<div class="mobile-gallery-skim grid">
  {% for item in page.home-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="homes" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div>
    </a>

  </div>

  {% endfor %}
</div>
  {% for item in page.home-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="homes" data-title="{{item.heading}}"></a>

  {% endfor %}

</section>

<!-- <hr> -->

<!-- - - - - - - - ILLUSTRATIONS: HEADER - - - - - - - --->


<section class="bg-illustrations grid-middle-center" id="illustrations">

  <!-- <section id="illustrations"> -->
  <div class="header-text">
    <h2>Illustrations</h2>


    <nav class="grid-space-center section-text">
      <a class="col-12" href="#newborn">Newborn Photography Backgrounds</a>
      <a class="col-12" href="#children">Children's Books</a>
      <!-- <a href="#fashion">Fashion + Textiles</a>
      <a href="#bespoke">Bespoke Projects</a> -->
    </nav>

  </div>

</section>
<!--  - - - -  - - SECTION: NEWBORN PHOTO BACKGROUNDS PORTRAITS - - - - - - - - - -->

<section class="newborn-gallery" id="newborn">

  <h3 class="col-12 section-heading">Newborn Photography Backgrounds</h3>
  <p class="col-12 newborn-text">These and more of my digital backgrounds for newborn photography available for purchase via:</p>
  <a class="col-12 newborn-link" target="_blank" rel="noreferrer" href="https://www.gracelanddesign.com/product-category/digitals/elyse-whittaker-paek-designs/"><strong>GRACELAND DESIGNS</strong></a>
  <p class="col-12 gallery-text">Click on any image to open the gallery . . . </p>

<div class="mobile-gallery-skim grid">
  {% for item in page.newborn-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="newborn" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div>
    </a>

  </div>

  {% endfor %}
</div>
  {% for item in page.newborn-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="newborn" data-title="{{item.heading}}"></a>

  {% endfor %}

</section>
<!-- <hr> -->
<br />
<!-- - - - - - - - - - ILLUSTRATION : Children's Books - - - - - - - - -->

<section class="children-gallery" id="children">

  <h3 class="col-12 section-heading">Children's Books</h3>
  <p class="col-12 gallery-text"><i>Click on any image to open the gallery . . .</i></p>

<div class="mobile-gallery-skim grid">

  {% for item in page.children-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="children" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div>
    </a>

  </div>

  {% endfor %}

</div>
  {% for item in page.children-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="children" data-title="{{item.heading}}"></a>

  {% endfor %}

</section>

<!-- <hr> -->

<!-- - - - - - - - INSTAGRAM FEED - - - - - - - --->

{% include instagram.html %}


<!-- - - - - - - - - - - TESTIMONIALS- - - - - - - - - - - --->
<section class="bg-reviews grid-middle mobile-gallery-skim" id="reviews">

  <!-- <section id="reviews"> -->

  <div class="headline col-12">
    <h2>Etsy Reviews</h2>
    <p class="col-12 headline">Visit my<a class="shop" target="_blank" rel="noreferrer" href="https://www.etsy.com/shop/ArtisticHomePortrait"><strong>Etsy shop</strong></a>for more reviews.</p><br />
    <i class="fas fa-quote-left mob-hide"></i>
  </div>

</section>
<section class="grid quote-box">

  {% for item in page.quotes %}
  <div class="col-6_xs-12">
    <p class="credit">{{item.name}} <span class="date"> ({{item.date | date: "%B %Y"}})</span>
      </p><p>
        {% include stars.html %}
        <br /></p><p> {{item.review}} </p>
  </div>
  {% endfor %}

  <div class="headline col-12">
    <i class="fas fa-quote-right mob-hide"></i>
  </div>
</section>

<!-- - - - - - - - - - - Scroll Arrow - - - - - - - - - - - -->
