---
layout: default
title:
home-gallery:
  - featured_image: /images/home-portraits/house-42.jpg
  - featured_image: /images/home-portraits/house-50.jpg
  - featured_image: /images/home-portraits/house-57.jpg
  - featured_image: /images/home-portraits/house-42.jpg
  - featured_image: /images/home-portraits/house-50.jpg
  - featured_image: /images/home-portraits/house-57.jpg
  - featured_image: /images/home-portraits/house-42.jpg
  - featured_image: /images/home-portraits/house-50.jpg

pet-gallery:
  - featured_image: /images/pet-portraits/pet-collage.jpg
    heading: "pet name"
  - featured_image: /images/pet-portraits/pet-3.jpg
    heading: "pet name"
  - featured_image: /images/pet-portraits/pet-2.jpg
    heading: "pet name"
  - featured_image: /images/pet-portraits/pet-1.jpg
    heading: "pet name"

children-gallery:
  - featured_image: /images/children/children-25.jpg
    heading: "book title"
  - featured_image: /images/children/children-52.jpg
    heading: "book title"
  - featured_image: /images/children/children-29.png
    heading: "book title"
  - featured_image: /images/children/children-25.jpg
    heading: "book title"
  - featured_image: /images/children/children-52.jpg
    heading: "book title"
  - featured_image: /images/children/children-29.png
    heading: "book title"
  - featured_image: /images/children/children-25.jpg
    heading: "book title"
  - featured_image: /images/children/children-52.jpg
    heading: "book title"
  - featured_image: /images/children/children-29.png
    heading: "book title"

fashion-gallery:
  - featured_image: /images/fashion/fashion-11.png
    heading: throw pillow with bespoke pattern
  - featured_image: /images/fashion/fashion-20.jpg
    heading: wedding dress
  - featured_image: /images/fashion/fashion-25.jpg
    heading: "chic girl"
  - featured_image: /images/fashion/fashion-11.png
    heading: throw pillow with bespoke pattern
  - featured_image: /images/fashion/fashion-20.jpg
    heading: wedding dress
  - featured_image: /images/fashion/fashion-25.jpg
    heading: "chic girl"
  - featured_image: /images/fashion/fashion-11.png
    heading: throw pillow with bespoke pattern
  - featured_image: /images/fashion/fashion-20.jpg
    heading: wedding dress
  - featured_image: /images/fashion/fashion-25.jpg
    heading: "chic girl"

bespoke-gallery:
  - featured_image: /images/bespoke/bespoke-7.jpg
    heading: Coffique Hot Cocoa Mug
  - featured_image: /images/bespoke/bespoke-33.jpg
    heading: Skateboard
  - featured_image: /images/bespoke/bespoke-26.jpg
    heading: Greeting Card
  - featured_image: /images/bespoke/bespoke-7.jpg
    heading: Coffique Hot Cocoa Mug
  - featured_image: /images/bespoke/bespoke-33.jpg
    heading: Skateboard
  - featured_image: /images/bespoke/bespoke-26.jpg
    heading: Greeting Card
  - featured_image: /images/bespoke/bespoke-7.jpg
    heading: Coffique Hot Cocoa Mug
  - featured_image: /images/bespoke/bespoke-33.jpg
    heading: Skateboard
  - featured_image: /images/bespoke/bespoke-26.jpg
    heading: Greeting Card

quotes:
  - name: Kelly
    date: Sep 2018
    review: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - name: Joe
    date: Oct 2018
    review: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - name: Sally
    date: Oct 2018
    review: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
---
<!-- - - - - - - - HEADER - - - - - - - --->

<header class="bg-pattern grid-middle-center">
  <div class="header-text">
    <h1>Elyse Whittaker-Paek</h1>
    <h2>artist + illustrator</h2>

  <div class="arrow-button">
    <a href="#about">
      <i class="fas fa-angle-down"></i>
    </a>
  </div>

</header>
<!-- - - - - - - - - - -ABOUT - - - - - - - - - - -->
<section id="about">

  {% include header-nav.html %}
  <!-- <h2>artist + illustrator</h2> -->

  <div>
    <hr class="rule">
  </div>


  <div class="grid">

    <!-- about image gallery left -->
    <div class="col-3_sm-hidden">
      <div class="bg-girlhat-1"></div>
      <div class="bg-girlhat-2"></div>
      <div class="bg-girlhat-3"></div>
  </div>

    <!-- about section -->
    <div class="col-6_sm-12">

      <p class="opening centered">Thank you for stopping by!</p>

      <p class="bio-text">Browse through this site to see examples of custom, hand-painted watercolor portraits of homes and pets, children's book illustrations, and fashion illustration -- I would love to discuss your custom portrait or any illustration project you might have. </p>

      <p class="bio-text">I have a BFA in Illustration and over 10 years' experience in the Animation Industry in Los Angeles -- at the Warner Bros. and Nickelodeon studios -- working in collaboration with many creative teams. My project experience includes character design, prop design, and storyboards. </p>

      <p class="bio-text">I have worked on the Warner Bros. feature film <span>Space Jam</span>, as well as TV shows such as "Dora the Explorer," "Hey Arnold" and "Oswald the Octopus." </p>

      <p class="bio-text">As a children's book illustrator, I was thrilled in 2014 to have won First Place at the Feathered Quill Book Awards for <span> I'm So Hollywood</span> in the Summer Saltz series. A native of Sydney, Australia, I currently reside in Los Angeles with my husband and two crazy-sweet boys. I look forward to working with you on your next project!</p>

      <p class="signature">Elyse</p>

      <div class="col-6_xs-12 bg-Elyse"></div>

    </div><!-- close col -->

    <!-- about section image gallery right -->
    <div class="col-3_sm-hidden">
      <div class="bg-girlhat-1"></div>
      <div class="bg-girlhat-2"></div>
      <div class="bg-girlhat-3"></div>
    </div>

  </section><!-- close about section -->



  <!-- - - - - - - - - - - - PORTRAITS - - - - - - - - - -- - - - - - --->
<section class="bg-portraits grid-middle-center" id="portraits">

  <div class="portrait-text col-5">
    <h2>Watercolor Portraits</h2>

    <nav class="grid-space-center">
      <a href="#home">Homes</a>
      <a href="#pets">Pets</a>
    </nav>

  </div>

</section>
<!-- - - - - - - - - Section: Home Portraits Gallery- - - - - - - - - --->

<section class="home-gallery grid">

    <h3 class="col-12 section-heading">Homes</h3>

    {% for item in page.home-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="homes" data-title="{{item.heading}}"> <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div></a>

  </div>

  {% endfor %}

  {% for item in page.home-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="homes" data-title="{{item.heading}}"></a>

{% endfor %}

</section>


<!--  - - - -  - - SECTION: PET PORTRAITS - - - - - - - - - -->

<section class="pet-gallery grid">

  <h3 class="col-12 section-heading">Pets</h3>

  {% for item in page.pet-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="pets" data-title="{{item.heading}}"> <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div></a>

  </div>

  {% endfor %}

  {% for item in page.home-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="pets" data-title="{{item.heading}}"></a>

{% endfor %}

</section>


  <!-- - - - - - - - ILLUSTRATIONS: HEADER - - - - - - - --->

  <section class="bg-illustrations grid-middle-center" id="illustrations">

    <!-- <section id="illustrations"> -->
    <div class="header-text">
      <h2>Illustrations</h2>


      <nav class="grid-space-center">
          <a href="#children">Children's Books</a>
          <a href="#fashion">Fashion + Textiles</a>
          <a href="#bespoke">Bespoke Projects</a>
      </nav>

    </div>

  </section>

<!-- - - - - - - - - - ILLUSTRATION : Children's Books - - - - - - - - -->

<section class="children-gallery grid">

  <h3 class="col-12 section-heading">Children's Books</h3>

  {% for item in page.children-gallery limit:8 %}

  <div class="col-3_xs-12-middle padded-1 gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="children" data-title="{{item.heading}}"> <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div></a>

  </div>

  {% endfor %}

  {% for item in page.home-gallery offset:8 %}


  <a href="{{item.featured_image}}" data-lightbox="children" data-title="{{item.heading}}"></a>

{% endfor %}

</section>

<!-- - - - - - - - - - Illustration : Fashion - - - - - - - - -->
<section class="fashion-gallery grid">

    <h3 class="col-12 section-heading">Fashion + Textiles</h3>

    {% for item in page.fashion-gallery limit:8 %}

    <div class="col-3_xs-12-middle padded-1 gallery-item">
      <a href="{{item.featured_image}}" data-lightbox="fashion" data-title="{{item.heading}}"> <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div></a>

    </div>

    {% endfor %}

    {% for item in page.home-gallery offset:8 %}


    <a href="{{item.featured_image}}" data-lightbox="fashion" data-title="{{item.heading}}"></a>

  {% endfor %}

  </section>

<!-- - - - - - - - - - Illustration : Bespoke Projects - - - - - - - - -->

  <section class="bespoke-gallery grid">

    <h3 class="col-12 section-heading">Bespoke Projects</h3>

    {% for item in page.bespoke-gallery limit:8%}

    <div class="col-3_xs-12-middle padded-1 gallery-item">
      <a href="{{item.featured_image}}" data-lightbox="bespoke" data-title="{{item.heading}}"> <div style="background-image:url({{item.featured_image}})" class="gallery-image"></div></a>

    </div>

    {% endfor %}

    {% for item in page.home-gallery offset:8 %}


    <a href="{{item.featured_image}}" data-lightbox="bespoke" data-title="{{item.heading}}"></a>

  {% endfor %}

  </section>



  <!-- - - - - - - - INSTAGRAM FEED - - - - - - - --->

  {% include instagram.html %}

  <!-- - - - - - - - -- - TESTIMONIALS- - - -- - - - - - - --->
  <section class="bg-reviews grid-middle" id="reviews">

  <!-- <section id="reviews"> -->

    <div class="headline col-12">
        <h2>ETSY Reviews</h2></div>

  </section>
  <section class="grid quote-box">

    {% for item in page.quotes %}
    <div class="col-6_xs-12">
      <p class="credit">{{item.name}} <span class="date"> ( {{item.date}} )</span><p>
        {% include stars.html %}
        <p> {{item.review}} </p>
    </div>
    {% endfor %}

</section>
