<!-- Desktop Navigation -->
<nav class="mob-hide">
  <a href="#about">About</a>
  <a href="#portraits">Watercolor Portraits</a>
  <a href="#illustrations">Illustrations</a>
  <a href="#instagram">Instagram</a>
  <a href="#reviews">Reviews</a>
  <a href="#connect">Connect</a>

<br>
<br>

<div class="social">
  <a target="_blank" href="https://www.etsy.com/shop/ArtisticHomePortrait"><i class="fab fa-etsy"></i></a>
  <a target="_blank" href="https://www.instagram.com/elyse_illustration/"><i class="fab fa-instagram"></i></a>
  <a target="_blank" href="https://www.pinterest.com/elysewp/water-color-house-paintings/"><i class="fab fa-pinterest-p"></i></a>
  <a target="_blank" href="https://twitter.com/ElysePaek/"><i class="fab fa-twitter"></i></a>
</div>

<br>
<br>

<div class="fb-share-button" data-href="https://brainy-gull.cloudvent.net" data-layout="button_count" data-size="large" data-mobile-iframe="true">
<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbrainy-gull.cloudvent.net%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

</nav>

<!-- Mobile Navigation & Burger Menu -->

<nav class="mob-show">

  <!-- This is the Burger Icon  -->
  <div class="burger-button">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>

  <!-- This is the mobile menu that pops up  -->
  <div class="burger-menu">
    <a href="#about">About</a>
    <a href="#portraits">Watercolor Portraits</a>
    <a href="#illustrations">Illustrations</a>
    <a href="#instagram">Instagram</a>
    <a href="#reviews">Reviews</a>
    <a href="#connect">Connect</a>
    <a target="_blank" href="https://www.etsy.com/shop/ArtisticHomePortrait">Etsy</a>
    <!-- <a target="_blank" href="https://www.instagram.com/elyse_illustration/">Instagram</a> -->
    <a target="_blank" href="https://www.pinterest.com/elysewp/water-color-house-paintings/">Pinterest</a>
  </div>

</nav>
