<!-- Desktop Navigation -->
<nav class="mob-hide">
  <a href="#about">About</a>
  <a href="#portraits">Watercolor Portraits</a>
  <a href="#illustrations">Illustrations</a>
  <a href="#instagram">Instagram</a>
  <a href="#reviews">Reviews</a>
  <a href="#connect">Connect</a>
</nav>

<!-- Mobile Navigation & Burger Menu -->

<nav class="mob-show">

  <!-- This is the Burger Icon  -->
  <div class="burger-button">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>

  <!-- This is the mobile menu that pops up  -->
  <div class="burger-menu">
    <a href="#about">About</a>
    <a href="#portraits">Watercolor Portraits</a>
    <a href="#illustrations">Illustrations</a>
    <a href="#instagram">Instagram</a>
    <a href="#reviews">Reviews</a>
    <a href="#connect">Connect</a>
  </div>

</nav>
