<section class="bg-instagram grid-middle-center" id="instagram">

  <!-- <section id="instagram"> -->

  <div class="headline centered col-12">
    <h2>Instagram</h2>
    <a href="https://www.instagram.com/elyse_illustration/">@elyse_illustration</a>
  </div>

  <div class="insta-feed">

    <!-- SnapWidget WIDGET -->
    <iframe src="https://snapwidget.com/embed/625105" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1200px; height:200px"></iframe>

  </div>

</section>
