<section class="bg-instagram grid-middle-center" id="instagram">

  <!-- <section id="instagram"> -->

  <div class="headline centered col-12">
    <h2>Instagram</h2>
    <a href="https://www.instagram.com/elyse_illustration/">@elyse_illustration</a>
  </div>

  <div class="insta-feed">

<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/26d65b673e4a508c8cff07b589a3657d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:1200px; height:240px;border:0;overflow:hidden;"></iframe>
</div>
</section>
