<!-- - - - - - - - CONNECT (CONTACT FORM) - - - - - - - --->

<footer class="bg-connect" id="connect">
  <!-- <footer id="connect"> -->
  <div class="contact-form grid-middle-center editable">
    <div class="headline col-6_xs-12">

      <h2>Let's Connect</h2>

      <p>Looking for a hand-painted, personalized gift idea? Visit my <a class="shop" target="_blank" rel="noreferrer" href="https://www.etsy.com/shop/ArtisticHomePortrait">Etsy shop</a> for more info, reviews, pricing, and to place your custom portrait order.</p>
      <br />
      <p>Could your children's book project use a creative, thoughtful artist's touch? Have a question for me? Send me an <a class="email" target="_blank" rel="noreferrer" href="mailto:elyse.biz1@gmail.com">email</a>, or fill out the contact form to start the conversation.</p>
      <br />

      <div class="social">
        <a target="_blank" rel="noreferrer" href="https://www.etsy.com/shop/ArtisticHomePortrait"><i class="fab fa-etsy"></i></a>
        <a target="_blank" rel="noreferrer" href="https://www.instagram.com/elyse_illustration/"><i class="fab fa-instagram"></i></a>
        <a target="_blank" rel="noreferrer" href="https://www.pinterest.com/elysewp/water-color-house-paintings/"><i class="fab fa-pinterest-p"></i></a>
        <a target="_blank" rel="noreferrer" href="https://twitter.com/ElysePaek/"><i class="fab fa-twitter"></i></a>
        </div>

    </div><!-- close column -->

    <div class="col-6_xs-12 form">

      <form action="https://formspree.io/elyse.biz1@gmail.com" method=POST class="whole-form">
        <input type="text" name="name" class="name contact-input" placeholder="Your Name" />
        <input type="email" name="_replyto" placeholder="Your Email" class="contact-input" />
        <input type="text" name="subject" placeholder="Subject" class="contact-input" />
        <textarea name=Comment placeholder="Share a few details about the project you have in mind . . ." rows="10"></textarea>
        <input type="submit" value="SEND" class="button" />
      </form>

    </div><!-- close column -->
  </div><!-- close grid -->

</footer>

<!-- - - - - - - - - - - - - FOOTER - - - - - - - - - - - - --->

<section class="bg-footer">
  <div class="grid-middle-center">
    <div class="headline">
      <h3>Elyse Whittaker-Paek</h3>
      <h4>artist + illustrator</h4>
    </div>
  </div>
  <br />
  <br />

  <nav class="grid-spaceAround">
    <a href="#about">About</a>
    <a href="#portraits">Watercolor Portraits</a>
    <a href="#illustrations">Illustrations</a>
    <a href="#instagram">Instagram</a>
    <a href="#reviews">Reviews</a>
    <a href="#connect">Contact</a>
    <a href="https://www.etsy.com/shop/ArtisticHomePortrait">Etsy Shop</a>
  </nav>
<br />
<br />
  <div class="copyright">
    <p>All images copyright ©2020 Elyse Whittaker-Paek, unless otherwise indicated. All rights reserved.</p><p>Credits and copyrights for newborn photography noted on each image.</p> <p>Unauthorized use of any image posted on this website is strictly prohibited.</p>
  </div>
<br />
  <div class="site-credit">
    <p>Website designed with care by:</p>
    <a class="KSW-Comms" target="_blank" rel="noreferrer" href="http://kswcommunications.com">ksw communications</a><p></p>

</div></section>
