<!-- - - - - - - - CONNECT (CONTACT FORM) - - - - - - - --->

<footer class="bg-connect grid-middle-center" id="connect">
  <!-- <footer id="connect"> -->
  <div class="contact-form grid">
    <div class="headline col-6_xs-12">

      <h2>Let's Connect</h2>

      <p>Looking for a hand-painted, personalized gift idea, or working on a children's book or bespoke product project that could use a creative, thoughtful touch?</p>
      <br>
      <p>Visit my <a class="shop" href="https://www.etsy.com/shop/ArtisticHomePortrait">Etsy shop</a>, shoot me an<a class="email" <a href="mailto:elyse.biz1@gmail.com"> email </a>or fill out the form at right to get the conversation started.</p>

      <br>

        <div class="social">
          <a href="https://www.etsy.com/shop/ArtisticHomePortrait"><i class="fab fa-etsy"></i></a>
          <a href="https://www.instagram.com/elyse_illustration/"><i class="fab fa-instagram"></i></i></a>
          <a href="https://www.pinterest.com/elysewp/water-color-house-paintings/"><i class="fab fa-pinterest"></i></i></i></a>
        </div>

    </div><!-- close column -->

    <div class="col-6_xs-12 form">

      <form action="https://formspree.io/projectlucy@gmail.com" method=POST class="whole-form">
        <input type="text" name="name" class="name contact-input" placeholder="Your Name"></input>
        <input type="email" name="_replyto" placeholder="Your Email" class="contact-input"></input>
        <textarea name=Comment placeholder="Share a few details about the project you have in mind . . ." rows="8"></textarea>
        <input type="submit" value="SUBMIT" class="button"></input>
      </form>

    </div><!-- close column -->
  </div><!-- close grid -->

</footer>

<!-- - - - - - - - - - - - - FOOTER - - - - - - - - - - - - --->

<section class="bg-footer">
  <div class="grid-middle-center">
    <div class="headline">
      <h3>Elyse Whittaker-Paek</h3>
      <h4>artist + illustrator</h4>
    </div>
  </div>
  <br>
  <br>

  <nav class="grid-spaceAround">
    <a href="#about">About</a>
    <a href="#portraits">Watercolor Portraits</a>
    <a href="#illustrations">Illustrations</a>
    <a href="#instagram">Instagram</a>
    <a href="#connect">Connect</a>
  </nav>

</section>
