<!-- - - - - - - - CONNECT (CONTACT FORM) - - - - - - - --->

<footer class="bg-connect grid-middle-center" id="connect">
  <!-- <footer id="connect"> -->
  <div class="contact-form grid">
    <div class="headline col-12_xs-12">

        <h2>Let's Connect</h2>

        <p>Looking for a hand-painted, personalized gift idea, or are you working on a book, fashion, or bespoke product project that could use a creative, thoughtful touch? Shoot me an<a mailto="elyse.biz1@gmail.com"><span class="email"> email </span></a>or fill out the form below to get the conversation started on how I can help -- or visit my <a href="https://www.etsy.com/shop/ArtisticHomePortrait">Etsy shop!</p>

  </div><!-- close column -->

  <div class="col-12_xs-12">

    <form action="https://formspree.io/projectlucy@gmail.com"
        method=POST class="whole-form">
        <input type="text" name="name" class="name contact-input" placeholder="Your Name"></input>
        <input type="email" name="_replyto" placeholder="Your Email" class="contact-input"></input>
        <textarea name=Comment placeholder="Share a few details about the project you have in mind . . ."  rows="5.754321"></textarea>
        <input type="submit" value="SUBMIT" class="button"></input>
    </form>

  </div><!-- close column -->
</div><!-- close grid -->

</footer>

<!-- - - - - - - - - - - - - FOOTER - - - - - - - - - -- - --->

<section class="bg-footer grid-middle-center">
  <div class="headline">
    <h3>Elyse Whittaker-Paek</h3>
    <h4>artist + illustrator</h4>
  </div>
</section>

<nav class="grid-spaceAround">
  <a href="#about">About</a>
  <a href="#portraits">Home Portraits</a>
  <a href="#illustrations">Illustrations</a>
  <a href="#instagram">Instagram</a>
  <a href="#connect">Connect</a>
</nav>

<div class="social">
  <i class="fab fa-etsy"></i>
  <i class="fab fa-instagram"></i>
</div>
